*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    text-align: center;
    padding: 1.5rem;
    background-color: lightslategray;
}
.logo img{
    height: 30px;
    vertical-align: middle;
}
.navbar ul{
    list-style: none;
    display: inline;

}
.navbar ul>li{
    display: inline-block;
    padding: 0 0.5rem;
}

.navbar a{
    text-decoration: none;
    color: cornflowerblue
}
.menu a:hover{
    border-bottom: 2px solid greenyellow;

}