*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.site_header, .site_footer{
    height: 100px;
    background-color: yellow;
}
.sidebar{
    width: 20%;
    height: 400px;
    float: left;
    background-color: red;
    
}
.content{
    width: 56%;
    height: 400px;
    float: left;
    background-color: rgb(0, 26, 255);
    margin:0 2%;
}
.clearfix::after{
    content: "";
    display: table;
    clear:both;
}
.site_main{
    margin: 1rem 0;
}